.App {
  background-color: grey;
  height: 100%;
  overflow: hidden;
}

/* Main Display */

.header {
  width: 100%;
  background-color: lightgrey; 
}

.header-text {
  display: flex;
  margin-left: 3%;
  margin-right: 3%;
}

.options {
  margin-top: 6.5%;
  margin-left: 3%;
}

.login {
  margin-top: 6.5%;
  margin-left: 3%;
}

.page-display {
  height: 86.5vh;
  background-color: white;
  margin: 5% 5% 5% 5%;
  text-align: center;
}

/* Landing Page Display */

.landing-content {
  padding-top: 5%;
  display: inline-block;
}

/* Auth Page Display */

.auth {
  padding-top: 5%;
}

.auth-input {
  height: 20px;
  width: 200px;
  margin: 5px;
}

.login-options {
  display: flex;
  justify-content: center;
}

.login-button {
  height: 20px;
  margin-top: 17px;
  margin-right: 20px;
}

.register-button {
  margin-top: 17px;
}

/* User Decks Display */

.your-decks-header {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}

.new-deck {
  margin-left: 95px;
}

.deck-display {
  background-color: lightgray;
  text-align: center;
  padding: 0px 0px 0px 0px;
  margin-top: 0px;
}

.deck-options {
  padding: 0px 5px 0px 5px;
  display: inline;
}

/* Flashcard Page Display */

.flashcard {
  padding-top: 50px;
}

.flashcard-buttons {
  margin: 10px;
  padding: 5px 10px 5px 10px;
}

/* Add Card To Deck Page Display */

.add-a-card {
  padding-top: 20px;
}

.add-card-button {
  margin-top: 20px;
}

.add-card-inputs {
  width: 250px;
  height: 30px;
}

/* Card List Page Display */

.card-list-deck-name {
  padding-top: 20px;
}

.card-list-button {
  margin-top: 20px;
}

.card-list-inputs {
  width: 250px;
  height: 30px;
}

.card-list-flashcard {
  display: inline-flex;
  background-color: lightgray;
}

/* Mapped Flashcards */

.mapped-cards-section {
  overflow: scroll;
  height: 40vh;
  border: 1px solid grey;
  margin: 1% 5% 1% 5%;
}

.mapped-cards-headers {
  display: flex;
  margin-left: 80px;
}

.mapped-cards-back {
  margin-left: 105px;
}

.mapped-cards {
  display: flex;
  margin: 1% 5% 1% 5%;
  background-color: darkgray;
  height: auto;
  width: auto;
}

.mapped-cards-content {
  margin: 20px;
  width: 100px;
  overflow-y: hidden;
}

.mapped-cards-buttons {
  margin-right: 5%;
  position:sticky;
  left: 400px;
}

.mapped-cards-edit {
  margin: 20px;
}