.App {
  background-color: grey;
  height: 100%;
  overflow: hidden;
}

.header {
  width: 100%;
  background-color: lightgrey; 
}

.header-text {
  display: flex;
  margin-left: 3%;
  margin-right: 3%;
}

.options {
  margin-top: 6.5%;
  margin-left: 3%;
}

.login {
  margin-top: 6.5%;
  margin-left: 3%;
}

.page-display {
  height: 86.5vh;
  background-color: white;
  margin: 5% 5% 5% 5%;
  text-align: center;
}

.landing-content {
  padding-top: 5%;
  display: inline-block;
}

.auth {
  padding-top: 5%;
}

.auth-input {
  
}